In [1]:
import geopandas as gpd
import os
import sys

In [2]:
# Open geopandas dataframe and use corresponding CRS
gdf = gpd.read_file('/data/sushen/marinedebris/MARIDA/shapefiles/S2_3-11-18_16PDC.shp')

In [29]:
gdf.sample(10)

     id  conf  report                                           geometry
50   10     1       3  POLYGON ((464929.311 1751089.722, 464980.941 1...
117   7     1       3  POLYGON ((439614.170 1752754.299, 439616.960 1...
64    7     1       3  POLYGON ((453600.638 1748897.195, 453601.023 1...
115  15     1       3  POLYGON ((439442.887 1752856.724, 439445.841 1...
44   15     1       3  POLYGON ((454773.011 1748646.697, 454776.129 1...
72    7     1       3  POLYGON ((506364.615 1754749.669, 506364.615 1...
132   6     1       3  POLYGON ((465044.792 1752086.621, 465095.567 1...
137   7     1       3  POLYGON ((506448.972 1744584.476, 506536.099 1...
76    9     1       3  POLYGON ((471905.787 1748535.797, 471943.640 1...
31   14     1       3  POLYGON ((504814.673 1776486.254, 504812.930 1...